html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: #f4ede7;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}